@font-face{
	font-family: "coffee1";
	src: url('fonts/Righteous/Righteous-Regular.ttf');
}
@font-face{
	font-family: "coffee2";
	src: url('fonts/Pacifico,Righteous/Pacifico/Pacifico-Regular.ttf');
}
@font-face{
	font-family: "coffee3";
	src: url('fonts/Pacifico,Righteous/Righteous/Righteous-Regular.ttf');
}
